
  body {
    margin: 0;
    font-family:'HBIOS-SYS';
    background-color: #D5C2EE;
    display: flex;
    flex-direction: column;
  }
  h1 {
    text-align: center;
    margin: 0px
  }
  ul {
   list-style:none;
   border-right: 1px solid gray;
   width: 100px;
   margin: 0;
   padding: 20px;
   text-align: center;
   font-size: 25px;
  }
  li {
    margin: 20px 0px;
  }
  #grid {
    display: grid;
    grid-template-columns: 258px 258px 258px 258px;
  }
  #article {
    padding-left: 25px;
    padding-right: 25px
  }
  a {
    color:black;
    text-decoration:none;
  }
  @font-face {
    font-family: 'EF_hyunygothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/EF_hyunygothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
      font-family: 'EF_MACHO';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/EF_MACHO.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }
  @font-face {
      font-family: 'EF_hyunygothic';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/EF_hyunygothic.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }
  @font-face {
    font-family: 'HBIOS-SYS';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/HBIOS-SYS.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  .list {
    text-align: center;
    margin: 30px;
    padding-top:15px;
    padding-bottom:15px;
    border: 6px solid purple;
    font-size: 30px;
    background-color: #c491e1;
    width: 170px;
    height: 40px;
  }
  #list {
    display: flex;
    justify-content: center;
  }
  #content {
    display: flex;
    justify-content: center;

  }
  .img {
    margin: 30px;
    border: 8px solid purple;
  }

  h2 {
    width: 500px;
    text-align: left;
    margin: 10px;
    margin-left: 30px;
    font-size: 35px;
    padding-top: 20px;
  }
  p {
    width: 500px;
    padding-left: 30px;
    padding-top: 20px;
    line-height: 1.5;
    letter-spacing : 0.6px;
    font-size: 17px;
  }
  #grid2 {
    display: grid;
    grid-template-columns: 500px 500px;
  }
  h3 {
    width: 500px;
    margin: 15px;
    margin-left: 30px;
  }
  #list {
    display: flex;
    justify-content: center;
  }
  .btn-3d.purple {
    background-color: #cb99c5;
    box-shadow: 0 0 0 1px #cb99c5 inset,
          0 0 0 2px rgba(255,255,255,0.15) inset,
          0 8px 0 0 rgba(189, 142, 183, .7),
          0 8px 0 1px rgba(0,0,0,.4),
          0 8px 8px 1px rgba(0,0,0,0.5);
  }
  .btn-3d.purple:active {
    box-shadow: 0 0 0 1px #cb99c5 inset,
          0 0 0 2px rgba(255,255,255,0.15) inset,
          0 0 0 1px rgba(0,0,0,0.4);
  }
  .btn-container {
    border-radius: 50px;
    text-align: center;
    margin-bottom: 55px;
    margin-top: 30px;
  }

  .btn-3d.purple {
    width: 300px;
    height: 100px;
    font-size: 30px;
    border-radius: 35px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 30px;

  }
